:root {
	/* Colors */
	--app-bg-color: hsl(var(--background));
	--app-foreground-color: hsl(var(--foreground));
	--app-border-color: hsl(var(--foreground));
	--app-opacity: 1;

	--transition-duration: 100ms;
	--transition-timing: ease-in-out;

	--crosshair-scale: 1;
	--crosshair-opacity: 0.8;
	--crosshair-opacity-alt: 0.8;
	--crosshair-rotation: 0deg;

	--reticle-scale: 1;
	--reticle-rotation: 0deg;
	--reticle-color: hsl(var(--foreground));

	--crosshair-scale-alt: 1;
	--crosshair-opacity-alt: 0.5;
	--crosshair-rotation-alt: 0deg;

	--reticle-scale-alt: 0.3;
	--reticle-rotation-alt: 0deg;
	--reticle-color-alt: hsl(var(--foreground));

	--svg-fill-color: inherit;
	--svg-stroke-color: inherit;
	--svg-stroke-width: inherit;

	/* Actions */
	--tilt-angle: 0deg;
}

* {
	/*
		Prevent images from being draggable
	*/
	-webkit-user-drag: none;

	/*
		Text selection can accidentally occur within draggable regions,
		so it's recommended to also use the CSS property user-select: none on the element to
		avoid accidental text selection.
	*/
	user-select: none;
}

body {
	background: none;
}

.is-draggable {
	cursor: crosshair;
}

.is-locked {
	#background,
	.controls {
		display: none;
	}
}

/* Application background */
#background {
	will-change: background-color, color, opacity;

	opacity: var(--app-opacity, 1);
	background-color: var(--app-bg-color, hsl(var(--background)));
	color: var(--app-foreground-color, hsl(var(--foreground)));
	border: 1px solid var(--app-foreground-color, hsl(var(--foreground)));
	transition:
		color var(--transition-duration, 100ms)
			var(--transition-timing, ease-in-out),
		background-color var(--transition-duration, 100ms)
			var(--transition-timing, ease-in-out),
		opacity var(--transition-duration, 100ms)
			var(--transition-timing, ease-in-out);
	border-radius: 12px;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.active #background {
	border-width: 6px;
}

.controls {
	will-change: color;
	color: var(--app-foreground-color, hsl(var(--foreground)));
	transition: color var(--transition-duration, 100ms)
		var(--transition-timing, ease-in-out);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* Crosshair Window */
#crosshair-wrapper {
	height: 100%;
	width: 100%;
	display: grid;
	place-content: center;
}

#crosshair {
	will-change: transform, opacity;
	opacity: var(--crosshair-opacity, 1);
	transform: scale(var(--crosshair-scale, 1)) rotate(var(--tilt-angle, 0deg));
	transition:
		transform var(--transition-duration, 100ms)
			var(--transition-timing, ease-in-out),
		opacity var(--transition-duration, 100ms)
			var(--transition-timing, ease-in-out);
}

.secondary #crosshair {
	opacity: var(--crosshair-opacity-alt, 1);
	transform: scale(var(--crosshair-scale, 1)) rotate(var(--tilt-angle, 0deg));
}

#crosshair img {
	will-change: transform;
	transform: rotate(var(--crosshair-rotation, 0deg));
	transition: transform var(--transition-duration, 100ms)
		var(--transition-timing, ease-in-out);
}

#reticle-wrapper {
	will-change: transform, color;
	color: var(--reticle-color, hsl(var(--foreground)));
	transition: color var(--transition-duration, 100ms)
		var(--transition-timing, ease-in-out);
}

#reticle {
	will-change: transform;
	transform: scale(var(--reticle-scale, 1))
		rotate(var(--reticle-rotation, 0deg));
	transition: transform var(--transition-duration, 100ms)
		var(--transition-timing, ease-in-out);
}
