:root {
	/* Colors */
	--app-bg-color: hsl(var(--background));
	--app-foreground-color: hsl(var(--foreground));
	--app-border-color: hsl(var(--foreground));

	--transition-duration: 100ms;

	--crosshair-scale: 1;
	--crosshair-opacity: 0.8;
	--crosshair-rotation: 0deg;

	--reticle-scale: 1;
	--reticle-rotation: 0deg;
	--reticle-color: hsl(var(--foreground));

	--svg-fill-color: inherit;
	--svg-stroke-color: inherit;
	--svg-stroke-width: inherit;

	/* Actions */
	--tilt-angle: 0deg;
	--alt-size: 100px;
	--alt-opacity: 1;
}

* {
	/*
		Prevent images from being draggable
	*/
	-webkit-user-drag: none;

	/*
		Text selection can accidentally occur within draggable regions,
		so it's recommended to also use the CSS property user-select: none on the element to
		avoid accidental text selection.
	*/
	user-select: none;
}

body {
	background: none;
}

.is-draggable {
	cursor: crosshair;
}

.is-locked {
	#background,
	.controls {
		display: none;
	}
}

/* Application background */
#background {
	background-color: var(--app-bg-color, hsl(var(--background)));
	opacity: 1;
	color: var(--app-foreground-color, hsl(var(--foreground)));
	border: 1px solid var(--app-foreground-color, hsl(var(--foreground)));
	border-radius: 12px;

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.controls {
	color: var(--app-foreground-color, hsl(var(--foreground)));

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* Crosshair Window */
#crosshair-wrapper {
	height: 100%;
	width: 100%;
	display: grid;
	place-content: center;
}

#crosshair {
	opacity: var(--crosshair-opacity, 1);
	transform: scale(var(--crosshair-scale, 1)) rotate(var(--tilt-angle, 0deg));
	width: var(--crosshair-width, 100px);
	height: var(--crosshair-height, 100px);
	transition: transform var(--transition-duration, 100ms) ease-in-out;
}
#crosshair img {
	transform: rotate(var(--crosshair-rotation, 0deg));
}

#reticle-wrapper {
	color: var(--reticle-color, hsl(var(--foreground)));
}

#reticle {
	transform: scale(var(--reticle-scale, 1))
		rotate(var(--reticle-rotation, 0deg));
}
