:root {
	/* Colors */
	--app-bg-color: var(--backgound);
	--app-foreground-color: var(--foreground);

	--crosshair-scale: 1;
	--crosshair-width: 100px;
	--crosshair-height: 100px;
	--crosshair-opacity: 0.8;
	--crosshair-width: 100px;
	--crosshair-height: 100px;
	--crosshair-opacity: 1;
	--reticle-scale: 100;
	--reticle-opacity: 1;
	--reticle-color: var(--foreground);
	--svg-fill-color: inherit;
	--svg-stroke-color: inherit;
	--svg-stroke-width: inherit;

	/* Actions */
	--tilt-angle: 0deg;
	--alt-size: 100px;
	--alt-opacity: 1;
}

* {
	/*
		Prevent images from being draggable
	*/
	-webkit-user-drag: none;

	/*
		Text selection can accidentally occur within draggable regions,
		so it's recommended to also use the CSS property user-select: none on the element to
		avoid accidental text selection.
	*/
	user-select: none;
}

body {
	background: none;
}

.is-draggable {
	cursor: crosshair;
}

.is-locked {
	#background,
	#controls {
		display: none;
	}
}

/* Application background */
#background {
	color: var(--app-foreground-color, var(--foreground));
	background-color: var(--app-bg-color, var(--backgound));
	opacity: var(--app-opacity, 1);
}

#controls {
	color: var(--app-foreground-color, var(--foreground));
}

/* Crosshair Window */
#crosshair {
	opacity: var(--crosshair-opacity, 1);
	width: var(--crosshair-width, 100px);
	height: var(--crosshair-height, 100px);
	transform: scale(50%);
	scale: 50%;
}
